body {
    background-color: white;
    font-family: helvetica;
    text-align: center;
}

.foto-perfil {
    border-radius: 50%;
    border: 0.25rem solid pink;
    aspect-ratio: 1/1;
    width: 30%;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;  */
    flex-grow: 0.5;
}

.datos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 0.5rem;
    border-right: 1px solid black;
    margin: 0.5rem;
    margin-left: 0;
}

.datos:last-child {
    border-right: 0 solid black;
}

.datos-iconos {
    display: flex;
    flex-direction: row;
    /* gap: 0.5rem 0; */
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 1rem;
}

p {
    margin: 0.1rem;
}
.tabla {
    border-collapse: collapse;
    color: black;
    display: flex;
}

.celda-titulo {
    text-align: right;
    padding: 2px 8px;
    background-color: pink;
    color: rgb(28, 28, 28);
}

.celda-respuesta{
    text-align: left;
    padding: 2px 8px;
} 

.info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.hashtags {
    padding: 1px;
    background-color: pink;
    margin: 1% 0;
}

.imagengaleria {
    aspect-ratio: 1/1;
    width: 33.2%;
    object-fit: cover;
    border: 1px solid pink;
}

.galeria {
    border: 2px solid pink;
}

.fila-fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}